{
  "rules": {
    "no-space-before-semi": false,
    "no-extra-semi": false,
    "semi": false,
    "quotes": "single",
    "camelcase": false,
    "curly": false,
    "no-console": false,
    "global-strict": false,
    "no-shadow": false,
    "no-use-before-define": false,
    "no-undef": false,
    "no-unused-vars": false
  }
}
