{
  "rules": {
    "quotes": "single",
    "camelcase": false,
    "curly": false,
    "no-console": false,
    "no-global-strict": false,
    "no-use-before-define": false,
    "no-undef": false,
    "no-unused-vars": false
  }
}
