rules:
    indent: 2 spaces
    quotes: single
    global-strict: false
    no-extra-semi: false
    semi: false
    camelcase: false
    curly: false
    no-shadow: false
    no-use-before-define: false
    no-undef: false
    no-unused-vars: false
